/* Header Styling */
.header {
  color: #dbbf63;
  text-align: center;
  position: relative;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #000;
}

.header .header-top {
  padding: 5px 10px;
  display: block;
  border-bottom: 2px solid #000;
  background-color: #a52a2a;
  font-size: 13px;
  text-align: right;
}

.header .header-bottom {
  display: flex;
  border-bottom: 2px solid #000;
  background: #dbbf63;
}

.header .header-bottom .left {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a52a2a;
}

.header .header-bottom .left img {
  width: 90px;
}

.header .header-bottom .center {
  width: 64%;
}

.header .header-bottom .center .center-top {
  background-color: #a52a2a;
  padding: 4px 0px;
  border-bottom: 2px solid #000;
}

.header .header-bottom .center .center-top h1 {
  margin: 0;
  font-size: 50px;
}

.header .header-bottom .center .center-top h1 sup {
  font-size: 20px;
}

.header .header-bottom .center .center-bottom {
  font-size: 14px;
  color: #000;
  
}

.header .header-bottom .center .center-bottom p {
  font-weight: 700;
  margin: 8px 0px;
}

.header .header-bottom .right {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a52a2a;
}

.header .header-bottom .right img {
  width: 80px;
}

.quote-box {
  background-color: #a52a2a;
  padding: 10px;
}

.quote-box p {
  font-size: 16px;
  margin: 2px 0px;
}

.quote-box .big {
  font-size: 18px;
  margin: 10px 0px;
}

.copy-type {
  margin: 2px 0px;
  font-size: 13px;
  color: #fff;
  text-align: right;
}

/* Info Section */
.info-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  border-top: none;
  font-size: 13px;
}

.info-section .contact-info {
  width: 60%;
  text-align: center;
}

.info-section .contact-info .padd {
  padding: 0px 10px;
}

.info-section .contact-info .padd p {
  margin-bottom: 6px;
  margin-top: 0px;
}

.info-section .contact-info .padd p:first-child {
  margin-top: 5px;
}

.info-section .contact-info .padd p:last-child {
  margin-bottom: 0px;
}

.info-section .invoice-details {
  width: 40%;
  border-left: 2px solid #000;
  text-align: center;
}

.info-section .invoice-details .padd-1 {
  padding: 0px;
}

.info-section .invoice-details .padd-1 p {
  margin-bottom: 4px;
  margin-top: 2px;
}

.info-section .invoice-details .date-info {
  background-color: #a52a2a;
  padding: 4px;
  color: #fff;
  margin: 4px 0px;
}

/* Customer Section */
.customer-section {
  border-bottom: 2px solid #000;
  border-top: none;

  font-size: 13px;
}

.customer-section .customer-section-top {
  border-bottom: 2px solid #000;
  padding: 5px;
  background: #f2f2f2;
}

.customer-section .customer-section-top p {
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
}

.customer-section .customer-address {
  padding: 10px;
}

.customer-section .customer-address p {
  margin-bottom: 0px;
}

.customer-section .customer-address strong {
  margin-bottom: 5px;
}

/* Table Styling */
.invoice-table {
  width: 100%;
  border-collapse: collapse;
  border-top: none;
}

.invoice-table th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #000 !important;
  padding: 3px;
  font-size: 13px;
}

.invoice-table td {
  border-right: 2px solid #000 !important;
  padding: 5px;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

.invoice-table td:last-child {
  border-right: none;
}

.text-left {
  text-align: left;
}

.empty-row td {
  height: 20px;
}

.footer-body tr {
  border-top: 2px solid #000;
}

.grand-total {
  background-color: #dbbf63;
  font-size: 18px;
  color: #a52a2a;
}

.bank-details {
  padding: 0px;
  text-align: left;
}

.signature {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.clear {
  clear: both;
}

.disclaimer {
  font-size: 13px;
  text-align: center;
  padding: 5px;
}

.disclaimer span {
  color: #a52a2a;
}
