.stack_details .stack_card{
    background: #fff;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 15px;
      border-radius: 10px;
}
.stack_details .stack_card .stack_text{
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
}
.stack_details .stack_card .stack_title{
    font-size: 24px;
    font-family: var(--heebo-family);
    font-weight: 600;
}
.stack_details .stack_card .icon{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 5px;
    color: var(--main-color);
}

/* ===============================
   RESPONSIVE (MOBILE)
================================= */
@media (max-width: 768px) {
 .stack_details .stack_card .stack_title{
    font-size: 20px;
 }
}
