/* ===============================
   SIDEBAR BASE
================================= */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100vh;
  background: #fff;
  transition:  0.3s ease;
  z-index: 1000;
  border-right: 1px solid #e9e9e9;
}

/* COLLAPSED STATE */
.sidebar.collapsed {
  width: 70px;
}

/* ===============================
   HEADER
================================= */
.sidebar_header {
  border-bottom: 1px solid #f6f6f6;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .header_logo img {
  width: 125px;
  margin: 0 auto;
  transition: opacity 0.2s ease;
}

.sidebar.collapsed .header_logo img {
  opacity: 0;
  pointer-events: none;
}
.sidebar .header_logo .logo_text {
  font-size: 18px;
  color: #d4483b;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 21px;
}
.sidebar .header_logo .small_text {
  font-size: 12px;
  color: #000;
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* TOGGLE BUTTON */
.toggle_btn {
  background: var(--gradient-color);
  border: none;
  font-size: 10px;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

/* ===============================
   MENU ITEMS
================================= */
.sidebar.collapsed .sidebar_menu_items {
  padding: 10px;
}
.sidebar_menu_items {
  padding: 10px;
  overflow-y: auto;
  height: 450px;
}

.sidebar_menu {
  margin-bottom: 0px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px;
  list-style-type: none;
  transition: background 0.4s ease;
}

/* ICON */
.sidebar_icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #444;
}

/* TEXT */
.sidebar_text {
  font-size: 14px;
  color: #444;
  white-space: nowrap;
}

/* ACTIVE */
.sidebar_menu.active .menu_header {
  background: var(--gradient-color);
}

.sidebar_menu.active .sidebar_icon,
.sidebar_menu.active .sidebar_text,
.sidebar_menu.active .arrow {
  color: #fff;
}

/* COLLAPSED MENU */
.sidebar.collapsed .sidebar_menu {
  justify-content: center;
}

.sidebar.collapsed .sidebar_text {
  display: none;
}

/* ===============================
   FOOTER
================================= */
.sidebar_footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #f6f6f6;
  padding: 8px 15px;
}

.footer_item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar.collapsed .footer_item {
  justify-content: center;
}

/* ===============================
   SCROLLBAR (OPTIONAL)
================================= */
.sidebar_menu_items::-webkit-scrollbar {
  width: 5px;
}

.sidebar_menu_items::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* ===============================
   RESPONSIVE (MOBILE)
================================= */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -230px;
  }

  .sidebar.mobile_open {
    left: 0;
  }
  .sidebar_header {
    justify-content: space-between !important;
  }
  .sidebar_menu_items{
    height: 80vh;
    display: block;
  }
  .sidebar_footer{
    z-index: 1020;
  }
}

.sidebar_close_btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #444;
}

/* SUBMENU */
.menu_header {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  width: 100%;
  padding: 2px 8px;
}

.submenu {
  list-style: none;
  margin-top: 15px;
}
.submenu.pd-l15 {
  padding-left: 15px;
}
.submenu.pd-l25 {
  padding-left: 25px;
}
.submenu li {
  padding:  0px;
  font-size: 13px;
  color: #555;
  cursor: pointer;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.submenu.submenu_list li{
  padding: 10px 0px;
  margin-bottom: 0px;
}
.submenu.submenu_list{
  margin-top: 0px;
}
.submenu li:hover {
  color: #000;
}
/* ICON */
.submenu li .submenu_icon {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #444;
  margin-right: 5px;
}

/* TEXT */
.submenu li .submenu_text {
  font-size: 13px;
  color: #444;
  white-space: nowrap;
}
/* ARROW */
.arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.sidebar_menu.open .arrow {
  transform: rotate(180deg);
}


