.footer{
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #fff ;
    border-top: 1px solid #e9f3fb;
}
.footer p{
    margin-bottom: 0px;
    font-size: 12px;
    color: #444;
}